<?php echo $this->headScript()->appendFile("js/favourites.js"); ?>

User name <input id="userInput" type="text" onblur="userName = this.value;"/>
<br />
<button onclick="if(userName) getUserFavourites(); else alert('Enter user name');">get favourites</button>
<br />
<textarea id="tablica"> </textarea>
<br />
<button onclick="prevFeed();"><- Prev</button>
<button onclick="nextFeed();">Next -></button>
<br />
<label id="titleText"></label>
<br />
<img id="thumb"></img>
<br />
<button onclick="prevEntry();"><- previous song</button>
<button onclick="nextEntry();">next song -></button>
