<?php
   $this->layout()->bodyScripts = 
       'onload="retrieveAllTags(\'selectMoodCloud\');"';
?>

<p>
<div id="selectMoodCloud">
                <h1>[Select cloud]</h1>
</div>
</p>
<button id="goButton" onclick="songsQuery();"> Start listening </button>
<hr />
<p>
<div id="ytFrame">
		<h3>[Video frame]</h3>
</div>
</p> <hr />
<p>
<div id="videoValuesCloud">
		<h3>[Video values cloud]</h3>
</div>
</p> <hr />