<?php // echo $this->headScript()->appendFile("js/select_mood.js"); ?>

<div id="selectMoodButtons">
    <h3> [Select Mood buttons] </h3>
</div>
<div id="categories" style="display:none;">
    <h4> [Additional categories [music category][LANG]] </h4>
</div>
<button id="goButton" class="yellowbutton" onclick="go();">Start listening</button>

<div id="videoBar">
    <button class="onListButton" style="display:none;" onclick="prevOnList();"><</button>
    <div id="videoList">
    </div>
    <button class="onListButton" style="display:none;" onclick="nextOnList();">></button>
</div>