<?php echo $this->headScript()->appendFile("js/checker.js"); ?>

Video link or id: <input id="videoIdInput" type="text" size="60">
<br />
<button type="button" onclick="checkVideo();" >Check video</button>
<br />
