﻿    <!-- application/layouts/scripts/layout.phtml -->
    <?php echo $this->doctype() ?>
    <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta http-equiv="Content-Script-Type" content="text/javascript">
      <meta http-equiv="Content-Style-Type" content="text/css">
      <title>TuneTheMusic!</title>      
      <script type="text/javascript" src="jquery-1.2.6.min.js"></script>
      <script type="text/javascript" src="jquery.tagcloud.min.js"></script>
      <script type="text/javascript" src="jquery.tinysort.min.js"></script>
      
<!--      <script type="text/javascript" src="js/Feeder.js"></script>
      <script type="text/javascript" src="js/PlaylistManager.js"></script>      
      <script type="text/javascript" src="js/tagcloud.js"></script>-->
      
      <script type="text/javascript" src="js/yt_iframe.js"></script>
      <script type="text/javascript" src="js/select_mood.js"></script>
      <script type="text/javascript" src="js/videobar.js"></script>
      <script type="text/javascript" src="js/values_cloud.js"></script>
      <script type="text/javascript" src="js/ajax_requests.js"></script>
      
      <?php echo $this->headLink()->appendStylesheet('styles/global.css') ?>
      <?php echo $this->headLink()->appendStylesheet('styles/buttons.css') ?>
      <?php echo $this->headLink()->appendStylesheet('styles/videobar.css') ?>
      
      <?php // echo $this->headLink()->appendStylesheet('styles/tagcloud.css') ?>
      <?php // echo $this->headLink()->appendStylesheet('styles/cloud.css') ?>
      
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body <?php echo $this->layout()->bodyScripts ?>>
    <div id="navbar">
        <div id="navbar-logo">
            <img src="imgs/musicforemotions-viner.png" alt="Music for emotions!">
            <img src="imgs/catlogo.png" alt="some cat">
        </div>
<!--        <div id="navbar-links">
		<a href="<?php echo $this->url(
                    array('controller'=>'index',
                        'action' => 'index'),
                    'default', true) ?>">Main</a>
                
                <a href="<?php echo $this->url(
                     array('controller' => 'you-tube-user',
                         'action' => 'index'),
                    'default', true) ?>">YouTube account</a>
		
                <a href="<?php echo $this->url(
                    array('controller'=>'playlist',
                        'action' => 'index'),
                    'default', true) ?>">Create playlist</a>

		<a href="<?php echo $this->url(
                    array('controller'=>'checker',
                        'action' => 'index'),
                    'check-video', true) ?>">Check YouTube video</a>
                
                <a href="<?php echo $this->url(
                    array('controller'=>'tag',
                        'action' => 'index'),
                    'default', true) ?>">Top videos</a>
        </div>-->
    </div>
     
    <?php echo $this->layout()->content ?>
    
    <br ><br >
    <div id="ytContainer">
	<div id="ytFrame">
		<h3>[Video frame]</h3>
        </div>
    </div>    
    <br >
    
    <div id="videoValuesCloud" style="display:none;">
        <ul>
            <?php
                require_once 'FacadeModel.php';
                foreach(FacadeModel::getInstance()->getAllTags() as $tag)
                {
//                    echo '<li title="'.$tag.'" style="display:inline">
//                            <a href="'.$tag.'">'.$tag.'</a> </li>';
                    echo '<li title="'.$tag.'" style="display:inline">
                            <button class="cloudbutton">'.$tag.'</button> </li>';
                }
            ?>
        </ul>
    </div>
     
    </body>
    </html>