.tagbutton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cf5914), color-stop(1, #c44308) );
	background:-moz-linear-gradient( center top, #cf5914 5%, #c44308 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5914', endColorstr='#c44308');
	background-color:#cf5914;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ede5df;
	display:inline-block;
	color:#FFFFFF;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
        margin: 1px;
}
.tagbutton.pressed {
    	border:2px solid #420202;
	display:inline-block;
	color:#000000;
}
.tagbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c44308), color-stop(1, #cf5914) );
	background:-moz-linear-gradient( center top, #c44308 5%, #cf5914 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c44308', endColorstr='#cf5914');
	background-color:#c44308;
}.tagbutton:active {
	position:relative;
	top:1px;
}

.yellowbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
	box-shadow:inset 0px 1px 0px 0px #fceaca;
	background-color:#f2ea08;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.yellowbutton:hover {
	background-color:#eeaf41;
}.yellowbutton:active {
	position:relative;
	top:1px;
}

.cloudbutton {
	background-color:#7c16cb;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:0px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size: inherit;
	font-weight:bold;
	padding:0px 12px;
	text-decoration:none;
}.cloudbutton:hover {
	background-color:#582185;
}.cloudbutton:active {
	position:relative;
	top:1px;
}

.onListButton {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #9e9c8d;
	color:#9e9c8d;
	/*display:inline-block;*/
        /*float:left;*/
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:31px 5px;
	text-decoration:none;
}.onListButton:active  {
	position:relative;
        border:1px solid #e65f44;
        color:#c92200;
	top:1px;
}