body
{
    background-color: #C8C8C8;
    margin: 0;
    padding: 0;
}
#navbar
{
    background-color: #08045C;
    height: 65px;
    width: 100%;

    z-index: 10;
}
#navbar-logo
{
    float: left;
    margin-left: 10px;
}
#navbar-links
{
    white-space: nowrap;
}

#ytContainer
{
    /*margin: 0 auto;*/
    text-align: center;
    display:block;
    width:100%;
}

#ytFrame
{
    display:none;
    /*width:70%;*/
}