* {
  margin:  0;
  padding: 0;
}
div#mytagcloud {
  width: 300px;
}
.tagcloud-list {
  border: 1px solid #000;
  font-size: 100%;
  font-weight: bold;
  font-family: Arial, sans-self;
  padding: 2px;
  margin: 15px;
}
.tagcloud-base {
  font-size: 24px;
  display: inline;
}
.tagcloud-anchor {
  text-decoration: none;
}
.tagcloud-earliest {
  color: #D9D919;
}
.tagcloud-earlier {
  color: #D1E231;
}
.tagcloud-later {
  color: #D1E231;
}
.tagcloud-latest {
  color: #CFD784;
}
