#videobar {
    width: 100%;
}

#videoBar button {
    display: inline;
    float: left;
}

#videoBar ol {       
    padding: 0px;
    margin: 0px;
}

#videoBar ol>li {
    height: 105px;
    display: inline;    
    float: left;
}

#videoBar ol>li>img:hover {
    border: 2px solid greenyellow;
}

#videoBar ol>li>img.played {
    border: 2px solid purple;
}

#videoBar ol>li>img.playing {
    border: 2px solid red;
}